{{define "main"}}
<main>
  <p class="lead">
    <a href="/thread">Create a thread</a> or join one below!
  </p>
  {{ range .Threads }}
    <div class="panel panel-default">
      <div class="panel-heading" style="box-sizing: border-box;">
        <span class="lead"><a href="/thread/{{ .Id }}" style="overflow-x:scroll"><i class="fa fa-comment-o"></i> {{ .Title }}</a></span>
        <div class="pull-right">
          Posted by {{ .Author.Nickname }} - {{ .Post.TimeView }}
        </div>
      </div>

      <div class="panel-body">
        <div class="pull-right">
          <a href="/thread/{{ .Id }}">Read more</a>
        </div>
        Tags:
        {{ range .Tags }}
          <a href="/tags/{{ .Name }}"><span class="label label-default">{{ .Name }}</span></a>
        {{ end }}
        <br>
        <br>
        <form action="/like" method="POST">
          {{ if .Post.IsLiked }}
            <button class="clicked" name="selector" value="clike">
                <i class="fa fa-thumbs-up" class="clicked"></i>
                like
            </button>
          {{ else }}
            <button name="selector" value="like">
                <i class="fa fa-thumbs-up"></i>
                like 
            </button>
          {{ end }}
          {{ .Post.Likes }}
          {{ if .Post.IsDisliked }}
            <button class="clicked" name="selector" value="cdislike">
                <i class="fa fa-thumbs-down" class="clicked"></i>
                dislike
            </button>
          {{ else }}
            <button name="selector" value="dislike">
                <i class="fa fa-thumbs-down"></i>
                dislike
            </button>
          {{ end }}
          {{ .Post.Dislikes }}
          <input type="hidden" name="postId" value="{{ .Post.Id }}">
        </form>
        <br>              
      </div>
    </div>
  {{ end }}
</main>
{{ end }}