{{ define "main" }}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-primary">
        {{ if .ErrStatus }}
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ .ErrMsg }}
          </div>
        {{ else }}
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
          </div>
        {{  end }}
        <div class="panel-body">
            {{ template "signupForm" }}
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "signupForm" }}
  <form class="form-signin" role="form" action="/register" method="POST">
    <h2 class="form-signin-heading">
      <i class="fa fa-comments-o">
        Forum
      </i>
    </h2>
    <div class="form-group">
      <input id="name" type="text" name="nickname" class="form-control" placeholder="Nickname" required>
    </div>
    <div class="form-group">
      <input type="firstname" name="firstname" class="form-control" placeholder="First name" required>
    </div>
    <div class="form-group">
      <input type="lastname" name="lastname" class="form-control" placeholder="Last name" required>
    </div>
    <div class="form-group">
      <input type="email" name="email" class="form-control" placeholder="Email address" required>
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group">
      <input type="password" name="confirm" class="form-control" id="password" placeholder="Confirm password" required onChange="onChange()">
    </div>
    <br>
    <button class="btn btn-lg btn-primary btn-block active" type="submit">Sign up</button>
    <br>
  </form>
  <script type="text/javascript" src="/static/js/pass.js"></script>  
{{ end }}