{{ define "main" }}
  <div class="panel panel-default">
    <div class="panel-body">
      {{ range .Tags }}
        <div class="control-group input-group" style="margin-top:10px">  
          <h3>
            <a href="/tags/{{ .Name }}"><span class="lead label label-default">{{ .Name }}</span></a>
            {{ .Count }}
            <!-- <button class="btn btn-danger remove" type="submit"><i class="glyphicon glyphicon-remove"></i> Delete</button>   -->
          </h3>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}