{{ define "main" }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead"> <i class="fa fa-comment-o"></i> {{ .Thread.Title }}</span>
      <div class="pull-right">
        Posted by {{ .Thread.Author.Nickname }} - {{ .Thread.Post.TimeView }}
      </div>
    </div>
    <div class="panel-body">
      <div class="form-group">
        Tags:
        {{ range .Thread.Tags }}
          <a href="/tags/{{ .Name }}"><span class="label label-default">{{ .Name }}</span></a>
        {{ end }}
      </div>
      <div class="form-group">
          <pre>{{ .Thread.Post.Content }}</pre>
      </div>   
      <div class="form-group">
        <form action="/like" method="POST">
          {{ if .Thread.Post.IsLiked }}
            <button class="clicked" name="selector" value="clike">
              <i class="fa fa-thumbs-up"></i>
              like
            </button>
          {{ else }}
            <button name="selector" value="like">
              <i class="fa fa-thumbs-up"></i>
              like
            </button>
          {{ end }}
          {{ .Thread.Post.Likes }}
          {{ if .Thread.Post.IsDisliked }}
            <button class="clicked" name="selector" value="cdislike">
              <i class="fa fa-thumbs-down"></i>
              dislike
            </button>
          {{ else }}
            <button name="selector" value="dislike">
              <i class="fa fa-thumbs-down"></i>
              dislike
            </button>
          {{ end }}
          {{ .Thread.Post.Dislikes }}
          <input type="hidden" name="postId" value="{{ .Thread.Post.Id }}">
        </form>
      </div>
    </div>
    {{ range .Thread.Comments }}
      <div class="panel-heading">
        <span class="panel-title"><i class="fa fa-comment"></i>Commented by {{ .Author.Nickname }}</span>
        <span class="pull-right"> {{ .Post.TimeView }}
      </div>
      <div class="panel-body">
        <div class="form-group">
          <pre>{{ .Post.Content }}</pre>
        </div>
        <div class="form-group">
          <form action="/like" method="POST">
            {{ if .Post.IsLiked }}
              <button class="clicked" name="selector" value="clike">
                <i class="fa fa-thumbs-up"></i>
                like
              </button>
            {{ else }}
              <button name="selector" value="like">
                <i class="fa fa-thumbs-up"></i>
                like
              </button>
            {{ end }}
            {{ .Post.Likes }}
            {{ if .Post.IsDisliked }}
              <button class="clicked" name="selector" value="cdislike">
                <i class="fa fa-thumbs-down"></i>
                dislike
              </button>
            {{ else }}
              <button name="selector" value="dislike">
                <i class="fa fa-thumbs-down"></i>
                dislike
              </button>
            {{ end }}
            {{ .Post.Dislikes }}
            <input type="hidden" name="postId" value="{{ .Post.Id }}">
          </form>
        </div>
      </div>
    {{ end }}    
  </div>
  {{ if .UserIn }}
    <div class="panel panel-info">
      <div class="panel-body">
        <form role="form" action="/comment" method="POST">
          <div class="form-group">
            <textarea class="form-control" style="max-width: 100%; min-width: 100%; max-height: 300px;" name="comment" id="body" placeholder="Write your comment here" rows="3" required></textarea>
            <input type="hidden" name="threadId" value="{{ .Thread.Id }}">
            <br/>
            <button class="btn btn-primary pull-right active" type="submit">Comment</button>
          </div>
        </form>
      </div>
    </div>
  {{ end }}
{{ end }}